.Weather {
  border: 1px solid #000;
}
.Weather h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  margin: 0 0 0 0;
}

.Weather li {
  list-style: none;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .temp {
  font-size: 50px;
}
.date {
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  text-align: left;
}
.Weather form {
  margin-bottom: 20px;
}

.container {
  background-color: #000;
  display: block;
  padding: 10px;
  max-width: 600px;
  max-height: 600px;
  border: 1px solid;
  border-radius: 20px;
  color: #fff;
  margin: 30px auto;
}
.App-link {
  color: #fff;
}
